div.visible-xs
  a.btn.btn-lg.btn-block.btn-danger(href="tel:+18474387372") Click to Call 1 (847) 438 7372

.no-slider
  img.img-responsive(src='http://lockers4laundry.com/wp-content/uploads/2013/09/dry-cleaning-e1378086833631.jpg', alt='Generic placeholder image')

tabset(justified="true")
  tab(heading="Dry Cleaners")
    h1 Dry Cleaners
  tab(heading="Coin Laundromat")
    h1 Coin Laundromat 
  tab(heading="Fire Garment Restoration")
    h1 Fire Garment Restoration    

.container.marketing
  //- .row
    .col-lg-4
      img.img-circle(src='', alt='Generic placeholder image', style='width: 140px; height: 140px;')
      h2 File uploader
      p
        | Uploads from local computer or a url. Makes a thumbnail and lists all files uploaded with option to crop on images.
      p
        a.btn.btn-default(href='#', role='button') View details »
  //- .row
    .col-lg-4
      img.img-circle(src='', alt='Generic placeholder image', style='width: 140px; height: 140px;')
      h2 Phone system
      p
        | Call forwarding to a local area code
      p
        a.btn.btn-default(href='#', role='button') View details »
    
  // START THE FEATURETTES
  hr.featurette-divider
  .row.featurette
    .col-md-7
      h2.featurette-heading
        | Servicing the Lake Zurich for over 20 years. 
        span.text-muted Dry Cleaning company.
      p.lead
        | We pickup and deliver.
      ul.lead
        li Dry Cleaners
        li Coin Laundromat 
        li Fire Garment Restoration
        
    .col-md-5
      img.featurette-image.img-responsive(src="http://www.stcroixcleaners.com/wp-content/uploads/2012/07/earthfriendly.jpg")
  hr.featurette-divider